{% extends "base.html" %}
{% block title %}Chat room for "{{ course.title }}"{% endblock %}

{% block content %}
    <div id="chat">
    </div>
    <div id="chat-input">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="submit" value="Send">
    </div>
{% endblock %}

{% block include_js %}
    {{ course.id|json_script:"course-id" }}
    {{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}
        const courseId = JSON.parse(
            document.getElementById("course-id").textContent
        )
        const requestUser = JSON.parse(
            document.getElementById("request-user").textContent
        )
        const url = 'ws://' + window.location.host + '/ws/chat/room/' + courseId + '/'
        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = (event) => {
            const data = JSON.parse(event.data)
            const chat = document.getElementById("chat")
            
            const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
            const date = new Date(data.datetime).toLocaleDateString('en', dateOptions)
            const isMe = requestUser === data.user
            const source = isMe ? 'me' : 'other'
            const name = isMe ? 'Me' : data.user

            chat.innerHTML += `<div class="message ${source}">
                <strong>${name}</strong>
                <span class="date">${date}</span><br>
                ${data.message}
            </div>`
            chat.scrollTop = chat.scrollHeight
        }

        chatSocket.onclose = () => {
            console.error('Chat socket closed unexpectedly');
        }

        const input = document.getElementById('chat-message-input')
        const submitBtn = document.getElementById('chat-message-submit')
        submitBtn.addEventListener('click', (event) => {
            const message = input.value
            if (message) {
                chatSocket.send(JSON.stringify({"message": message}))
                input.value = ""
                input.focus()
            }
        })
        input.addEventListener('keypress', (event) => {
            if (event.key == 'Enter') {
                event.preventDefault()
                submitBtn.click()
            }
        })
        input.focus()
{% endblock %}